* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue {
    color: #3b55ef;
    border: 1px solid #3b55ef;
    box-shadow: 1px 1px 1px 1px lightblue;
}

.links {
    border: 1px solid #fff; /* For debugging */
    display: flex;
    justify-content: flex-end;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    float: right;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    flex-direction: row;
    align-items: center;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}



.red-back {
    border-radius: 5px;
    background-color: #BA6768;
    border: 1px solid #666666;
    color: white;
}

.img-circle {
    border-redius: 50%;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.signup {
    margin-left: auto;
}

.search {
    border-radius: 80px;
    background: white url(search.png) left no-repeat;
    padding-left: 17px;
}

.social {
    display: flex;
}

.direction {
    flex-direction: column;
}

up {
    color: #333333;
}

a {
    color: #555555;
    text-decoration: none;
}

a:hover {
    color: #3b55ef;
    font-weight: bold;
}

a:active {
    color: #3b55ef;
    font-weight: bold;
}

.n {
    background-color: #33691E;
    height: 300px;

}

.body-grid-container {

    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    font-family: 'Shabnam', sans-serif;
    color: #666666;
}

.body-grid {

    width: 62%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.border-white-back {
    background-color: white;
    border: 1px solid #999999;
}

.white-color {
    color: white;
}

.imd-redius {
    border-radius: 80%;
}

.te {
    height: 25px;
    width: 100%;
    border-radius: 25px;
    background-color: #f0f2f8;
}

.do-register {
    height: 40px;
    width: 80%;
    border-radius: 25px;
    background: white url("small-blue-email.png") right no-repeat;
}

label {
    color: #3b55ef;
    font-size: 12px;
}

select, option {
    color: #666666 !important;
}






